### 데이터 타입

- 숫자형(Numeric)

In [ ]:
# 정수 (int)
i = 10
type(i)

# 실수 (float)
f = 3.14 
type(f)

float

- Boolean

In [ ]:
flag = True
type(flag)

bool

- 문자열 (str)

In [2]:
s = 'Hello'
type(s)

# 문자열에 작은 따옴표(')가 포함된 경우
s = "Python's easy."
print(s)

# 문자열에 큰 따옴표(")가 포함된 경우, 이스케이프 문자 이용
s = "People said, \"Life is too short, You need Python.\""
print(s)

Python's easy.
People said, "Life is too short, You need Python."

- 리스트 (list)

In [3]:
li = [1, 2, 3]
type(li)

# 인덱싱
print(li[1])

2

- 튜플 (tuple)

In [4]:
t = (1, 2, 3)
type(t)

# 슬라이싱
print(t[0:2])

(1, 2)

- 딕셔너리 (dict)

In [5]:
fruits = {'apple' : '사과', 'banana' : '바나나', 'cherry' : '체리'}
type(fruits)

fruits['cherry']

'체리'

### 연산

- 숫자형(Numeric)

In [6]:
a = 3
b = 4

# 덧셈
print(a + b)

# 뺄셈 
print(a - b)

# 곱셈
print(a * b)

# 나눗셈
print(a / b)

# 몫 - 정수만 반환(소수점 버림)
print(a // b)

# 나머지
print(a % b)

7
-1
12
0.75
0
3

- 문자열 (str)

In [8]:
s1 = 'Hello'
s2 = ' Python'

print(s1 + s2)
print(s1 * 2)

Hello Python
HelloHello

- 리스트 (list)

In [9]:
li1 = [4, 5, 6]
li2 = [7, 8, 9, 10, 11]

print(li1 + li2)
print(li1 * 2)

[4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 4, 5, 6]

- 튜플 (tuple)

In [10]:
t1 = (1, 2, 3)
t2 = (4, 5)

print(t1 + t2)
print(t1 * 2)

(1, 2, 3, 4, 5)
(1, 2, 3, 1, 2, 3)

### if문

In [8]:
# 점수가 90점 이상이면 'A' 출력
# 점수가 80점 이상 ~ 90점 미만이면 'B' 출력
# 점수가 80점 미만이면 'C' 출력

score = int(input('점수를 입력하세요: '))

if score >= 90 : 
  print('A')
elif score >= 80 : 
  print('B')
else :
  print('C')

C

### while문

In [11]:
# 1부터 10까지 숫자 중에서 홀수만 출력
i = 0
while i < 10 :
  if i % 2 :
    print(i)
  i += 1

1
3
5
7
9

In [12]:
# 퀴즈 맞추기
while True :
  answer = input('대한민국의 수도는? ')

  if answer in ['서울', 'SEOUL', 'Seoul', 'seoul'] : 
    print('정답입니다.')
    break
  else :
    print('오답입니다.')

정답입니다.

### for문

In [13]:
# 1부터 10까지 숫자 중에서 홀수만 출력
for i in range(10) :
  if i % 2 :
    print(i)

1
3
5
7
9

In [14]:
# 1부터 20까지 숫자 중에서 짝수만 출력
for i in range(1, 21) :
  if i % 2 :
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20

### 함수

In [15]:
# 입력에 따라 연산 결과를 반환하는 함수
def stat(type, *args) :
  result = 0

  # 합
  if type == 'sum' :
    for i in args :
      result += i
  # 최소값
  elif type == 'min' :
    result = args[0]

    for i in args :
      if i < result :
        result = i
  # 최대값
  elif type == 'max' :
    result = args[0]

    for i in args :
      if i > result :
        result = i

  return result
  
print(stat('sum', 1, 2, 3))
print(stat('min', 51, -2, 3, 20))
print(stat('max', 10, 11, 12))

6
-2
12

### 람다 함수

In [17]:
# 입력값을 거듭제곱한 결과를 반환하는 함수

# 기본 함수
def square(n) : 
  return n ** 2
print(square(3))

# 람다 함수로 변환
square = lambda n : n ** 2
print(square(3))

9
9

### 고차 함수

- map

In [18]:
# 숫자 → 문자열 데이터로 변경
nums = [1, 2, 3, 4]
print(list(map(str, nums)))

['1', '2', '3', '4']

- filter

In [19]:
# 10보다 작은 수만 출력
nums = [3, 12, 54, 39, 7, 187, 5, 2, 26, 84]
print(list(filter(lambda n : n < 10, nums)))

[3, 7, 5, 2]

- enumerate

In [20]:
# 인덱스 변경
for index, value in enumerate(['red', 'green', 'blue'], start=1) :
  print(index, value)

1 red
2 green
3 blue

### 클래스

In [18]:
# Character 클래스 - 부모 클래스
class Character :
  def __init__(self, nickname, server) :
    self.nickname = nickname
    self.server = server
    
  def info(self) :
    print(f'{self.nickname}님이 속한 서버는 {self.server} 입니다.')
  

# Warrior 클래스 - 자식 클래스
class Warrior(Character) :
  # super() 로 상속받은 Character 클래스 생성자 호출
  def __init__(self, nickname, server, level) :
    super().__init__(nickname, server)
    self.level = level
    
  # 상속받은 Character 클래스 info() 메소드 재정의(Override)
  def info(self) :
    super().info()
    print(f'레벨 : Lv.{self.level}')


# Warrior 객체 생성
w = Warrior('bestwarrior', 'Azshara', 50)
w.info()

bestwarrior님이 속한 서버는 Azshara 입니다.
레벨 : Lv.50